#page {
    font-family: 'Futura';
    font-size: 36px;
}

.row {
    margin: 10px 0;
}

.varOuter {
    width: 180px;
}

.var {
    font-weight: bold;
}

.row.row-a .var.node,
.row.row-i .var.node,
.row.row-a .result.node,
.row.row-i .result.node  {
    background-color: #d53e4f;
}

.row.row-b .var.node,
.row.row-j .var.node,
.row.row-b .result.node,
.row.row-j .result.node  {
    background-color: #f46d43;
}

.row.row-c .var.node,
.row.row-k .var.node,
.row.row-c .result.node,
.row.row-k .result.node  {
    background-color: #fdae61;
}

.row.row-d .var.node,
.row.row-l .var.node,
.row.row-d .result.node,
.row.row-l .result.node  {
    background-color: #fee08b;
}

.row.row-e .var.node,
.row.row-m .var.node,
.row.row-e .result.node,
.row.row-m .result.node  {
    background-color: #e6f598;
}

.row.row-f .var.node,
.row.row-n .var.node,
.row.row-f .result.node,
.row.row-n .result.node  {
    background-color: #abdda4;
}

.row.row-g .var.node,
.row.row-o .var.node,
.row.row-g .result.node,
.row.row-o .result.node  {
    background-color: #66c2a5;
}

.row.row-h .var.node,
.row.row-p .var.node,
.row.row-h .result.node,
.row.row-p .result.node  {
    background-color: #3288bd;
}

.var,
.exp,
.expComponent,
.varOuter {
    display: inline-block;
}

.node {
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin: 5px 10px;
}

.result {
    margin-left: 40px;
    background-color: #ddd;
}

.var {
    background-color: #ddd;
}

/* pretty gradients */
/* we should only add a row if it's not default - + 0 0?